<header>
    <section class="nav_content">
        <section class="wrapper-menu">

            <div class="logo">
                <img src="../../../assets/videos/logo-removebg-preview.png" alt="" srcset="">
            </div>
            <div class="nav_links">
                <ul>
                    <li>Home</li>
                    <li class="menu-dropdown">
                        <span>

                            About Servers
                        </span>
                        <ol class="dropdown">
                            <li>Sara</li>
                            <li>Elohim</li>
                            <li>Yeliel</li>
                        </ol>

                    </li>
                    <li>News</li>
                    <li>Community</li>
                </ul>
            </div>
        </section>

        <div class="wrapper_btn">
            <a href="" class="btn">Sing up</a>
        </div>
    </section>
    <nav>

    </nav>
</header>